<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        <h4>Welcome to Process Dashboard</h4>
    <!--    <img src="https://upload.wikimedia.org/wikipedia/fr/c/cc/LOGO_SAGEMCOM.png" alt="sagemLogo"> -->
    </div>


    <mat-divider></mat-divider>
        <h2 matSubheader>Pages</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"> Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"> statistics</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"> Admin Profile</a>

<div>

</div>

<mat-divider></mat-divider>

<h2 matSubheader>Others</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>description</mat-icon>
    DATA
 </a>
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>account_circle</mat-icon>
   Admin Profile
 </a>


<mat-divider></mat-divider>

Another menu 

</mat-nav-list>